body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #500101;
    text-align: center;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: #942121;
}
header h3 {
    font-style: italic;
    margin:0;
    padding:0;
    color: #942121;
    font-size: 40px;
}
header h4 {
    font-style: italic;
    color: black;
    font-size: 20px;
}
header p{
    font-style: italic;
    color: black;
    font-size: 18px;
}
header img {
    height: 60px;
    text-align: center;
}