body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #500101;
    text-align: center;
    background-image: url(capalogin.png);
}
.E-mail {
    text-align: left;
    margin-right: 25%;
    margin-left: 39%;
    color: #500101;
    font-size: xx-large;
    font-style: normal;
}
.DigiEM {
    text-align: left;
    margin-right: 25%;
    margin-left: 39%;
    color: #500101;
    font-size: x-large;
    font-style: normal;
}
.Senha {
    text-align: left;
    margin-right: 25%;
    margin-left: 39%;
    color: #500101;
    font-size: xx-large;
    font-style: normal;
}
.DigiSE {
    text-align: left;
    margin-right: 25%;
    margin-left: 39%;
    color: #500101;
    font-size: x-large;
    font-style: normal;
}
.Esqueceu {
    text-align: left;
    margin-right: 25%;
    margin-left: 39%;
    color: #500101;
    font-size: large;
    font-style: normal;
}