body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #500101;
    text-align: center;
    background-color: #FFDCDC;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #942121;
}

header h3 {
    font-style: italic;
    margin: 0;
    padding: 0;
    color: #942121;
    font-size: 30px;
}

header h4 {
    font-style: italic;
    color: black;
    font-size: 20px;
}

header p {
    font-style: italic;
    color: black;
    font-size: 18px;
}

header img {
    height: 40%;
    text-align: center;
}

.Cabecalhoimg {
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    position: top;
    top: 0%;
    left: 0.2%;
    height: 405px;
}

.Cabecalho {
    text-align: center;
    font-style: italic;
    font-size: 50%;
}